# -------------- VS Code / VS 相关垃圾文件 --------------
.vscode/
.vs/
*.vcxproj.user
*.suo
*.sdf
*.opensdf
*.cache
*.tlog
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.exe
*.iobj
*.ipdb
*.bsc
*.pch
*.ncb
*.aps
*.res
*.idb
*.manifest
*.manifest.res
*.manifest.rc
*.lastbuildstate
*.log
*.vsp
*.vspscc
*.vssscc
*.builds
*.pidb
*.scc
*.orig

# -------------- CMake 相关垃圾文件 --------------
build/
x64/
Debug/
Release/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
Makefile
*.cmake
CMakeLists.txt.user

# -------------- 系统/其他垃圾文件 --------------
*.bak
*.tmp
*.swp
*~
Thumbs.db
.DS_Store