# VS Code 编辑器配置
.vscode/

# Visual Studio 编译产物
.vs/
x64/
Debug/
Release/
ipch/
*.obj
*.pdb
*.exe
*.ilk
*.log

# CMake 生成文件
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt

# 系统垃圾文件
.DS_Store
Thumbs.db